h1,
p {
  border: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #202733;
}

.App-header {
  flex-shrink: 0;
  min-width: 343px;
  max-width: 540px;
  min-height: 332px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 15px;
  background: var(--Dark-Grayish-Blue, #313a48);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
}

.text-wrapper {
  width: 100%;
}

h1 {
  margin-top: 48px;
  margin-bottom: 24px;
  color: var(--Neon-Green, #53ffaa);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.086px;
}

p {
  margin: 0 48px 40px 48px;
  color: var(--Light-Cyan, #cee3e9);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.3px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 11px;
  }
  p {
    font-size: 24px;
  }
  .App-header {
  flex-shrink: 1;
}
}

.line-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.lines-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 16px;
}

.horizontal {
  width: 70%;
  background-color: #4f5d74;
  border: none;
  height: 1px;
  margin: 0;
}

.vertical {
  border: none;
  width: 6px;
  height: 16px;
  border-radius: 3px;
  background-color: #cee3e9;
  margin: 0;
}

.left {
  margin-left: 16px;
  margin-right: 8px;
}

.right {
  margin-right: 16px;
}

button {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: none;
  background-color: #53ffaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -32px;
  cursor: pointer;
}

button:hover {
  border-radius: 64px;
  background: var(--Neon-Green, #53ffaa);
  box-shadow: 0px 0px 40px 0px #53ffaa;
}
